.container {
  padding: 20px; /* Padding interior pentru container */
  background-color: hsl(0, 0%, 100%); /* Fundal deschis */
  border-radius: 8px; /* Colțuri rotunjite */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbră ușoară */
  min-height: 100vh; /* Asigură-te că umple toată înălțimea vizibilă */
  display: flex;
  flex-direction: column; /* Alinierea componentelor pe verticală */
}

h1 {
  font-size: 3rem; 
  text-align: left; 
  color: #41c018; 
}

h2 {
  font-size: 1.5rem; 
  margin-top: 20px; 
  text-align: left; 
  color: #419b2c;
}

.formContainer {
  border: 1px solid #ccc; /* Bordură pentru formular */
  border-radius: 4px; /* Colțuri rotunjite pentru formular */
  padding: 15px; /* Padding interior pentru formular */
  margin-bottom: 20px; /* Spațiu între formular și lista de contacte */
  background-color: white; /* Fundal alb pentru formular */
  width: 40%;
}

label {
  display: flex; /* Asigură-te că label-urile sunt blocuri */
  flex-direction: column;
  gap: 10px;
  color: #42b43f;
}

input {
  width: 40%; /* Lățimea inputului setată la 50% pentru a fi mai mică */
  padding: 10px; /* Padding interior pentru câmp */
  margin-bottom: 10px; /* Spațiu între câmpuri */
  margin-top: 10px;
  border: 1px solid #ccc; /* Bordură câmp */
  border-radius: 4px; /* Colțuri rotunjite pentru câmp */
}
input:focus {
  outline: none;
  border: 2px solid rgb(4, 219, 4); /* Bordură albastră la focus */
}


  

button {
  width: 41.6%; /* Lățimea butonului */
  padding: 10px; /* Padding interior pentru buton */
  background-color: #0a6f47; /* Culoarea de fundal a butonului */
  color: white; /* Culoarea textului */
  border: none; /* Elimină bordura butonului */
  border-radius: 4px; /* Colțuri rotunjite pentru buton */
  cursor: pointer; /* Arată pointerul când se plasează deasupra butonului */
}

button:hover {
  background-color: #0f4203; /* Schimbă culoarea fundalului la hover */
}

.contactItem {
  display: flex; /* Flexbox pentru lista de contacte */
  justify-content: space-between; /* Împarte contactele */
  padding: 10px; /* Padding pentru fiecare element de contact */
  border-bottom: 1px solid #ccc; /* Bordură între contacte */
}

.contactItem:last-child {
  border-bottom: none; /* Elimină bordura de la ultimul element */
}

.filterInput {
  width: 17%;
  border: 1px solid #ccc; /* Bordură câmp */
  border-radius: 4px; /* Colțuri rotunjite pentru câmp */
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.navigation > * {
  text-decoration: none;
  color: #096f47;
  font-size: 23px;
}

.logout {
  width: 20%;
}

.user {
  color: #41c018;
  font-size: 20px;
}

.logout_section {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.list > * {
  list-style-type: none;
  font-size: 18px;
  color: #209454;
}

.contactListItem {
  list-style-type: none;
  font-size: 18px;
  color: #209454;
}